@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    overflow-y: hidden;
}

p, a, input, button {
    font-family: 'Manrope', sans-serif;
}

#page {
    display: flex;
    flex-direction: row;
    height: 90vh;
    column-gap: 2%;
    overflow-y: scroll;
}


#chat-container  {
    width: 50%;
}

#user-video {
    width: 100%;
}

#right {
    width: 100%;
}

/* Other users videos */
.remote-video {
    width: 100%;
    /* width: 90%; */
    /* margin: 0 auto; */
}



#messageContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#messageForm {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    column-gap: 5%;
}

h2 {
    align-self: center;
}

#messageDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#allMessages {
    background-color: white;
    width: 80%;
    height: 300px;
    padding: 7px;
    align-self: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: rgb(228, 228, 228);
}

input {
    /* width: 70%; */
    padding: 12px 20px;
    margin: 5%;
    /* box-sizing: border-box; */
    /* outline-width: 3px; */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.7);
}


button {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 90px;
    height: 40px;
    outline-width: 3px;
    border-radius: 10px;
    /* background-color: rgba(229, 229, 224, 1); */
    background-image: url("/img/background.jpg");
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.7);
    align-self: center;
}


#controlsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5%;

    width: 98vw;
    /* height: 5vh; */
    /* padding-bottom: 10px; */

    position: fixed;
    float: left;
    /* background-color: rgb(223, 223, 255); */
}


.remote-username {
    background-color: black;
    color: white;
    float: left;
}


.menu {
    z-index: 1;
    top: 0;
    display: block;
    background-color: #435a50;
    margin: 0;
    padding: 0;
    height: 42px;
    width: 100%;
    position: fixed;
    top: 0px;
}
.menuBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
